<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trampas Barceló</title>
  <!-- BOOSTRAP CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <!-- Toastify CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    <div class="" style="">
        <img src="https://i.pinimg.com/originals/7f/5e/96/7f5e9657c08aae4bcd8bc8b0dcff720e.jpg" width="100%"/>
    </div>
    <div class="" style="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Centro</th>
                    <th scope="col">Aedes</th>
                    <th scope="col">Mosquitos</th>
                    <th scope="col">Moscas</th>
                    <th scope="col">Foto</th>
            </thead>
            <tbody>
                <tr>
                    <td>Fecha</td>
                    <td>Centro</td>
                    <td>Aedes</td>
                    <td>Mosquitos</td>
                    <td>Moscas</td>
                    <td>Foto</td>
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>

  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Toastify js -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>